In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\DE\csv files data\Brazilian E-Commerce\olist_geolocation_dataset.csv")

In [3]:
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [4]:
df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [5]:
df.tail()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [7]:
df.describe() #seeing statics info

       geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
count                 1.000163e+06     1.000163e+06     1.000163e+06
mean                  3.657417e+04    -2.117615e+01    -4.639054e+01
std                   3.054934e+04     5.715866e+00     4.269748e+00
min                   1.001000e+03    -3.660537e+01    -1.014668e+02
25%                   1.107500e+04    -2.360355e+01    -4.857317e+01
50%                   2.653000e+04    -2.291938e+01    -4.663788e+01
75%                   6.350400e+04    -1.997962e+01    -4.376771e+01
max                   9.999000e+04     4.506593e+01     1.211054e+02

In [8]:
df.isna().sum()#checking for null or na value

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [9]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1000158    False
1000159     True
1000160     True
1000161    False
1000162     True
Length: 1000163, dtype: bool

In [10]:
df.duplicated().sum() #check for duplicates

np.int64(261831)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [14]:
df.isna().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [15]:
#standard zip code format 
df['geolocation_zip_code_prefix'] = df['geolocation_zip_code_prefix'].astype(str).str.zfill(5)

In [16]:
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000155,99965,-28.180655,-52.034367,agua santa,RS
1000156,99950,-28.072188,-52.011272,tapejara,RS
1000157,99950,-28.068864,-52.012964,tapejara,RS
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS

In [17]:
#renaming the columns
df.rename(columns={
    'geolocation_zip_code_prefix': 'zip_code',
    'geolocation_lat': 'latitude',
    'geolocation_lng': 'longitude'
}, inplace=True)

In [18]:
df.head()

  zip_code   latitude  longitude geolocation_city geolocation_state
0    01037 -23.545621 -46.639292        sao paulo                SP
1    01046 -23.546081 -46.644820        sao paulo                SP
2    01046 -23.546129 -46.642951        sao paulo                SP
3    01041 -23.544392 -46.639499        sao paulo                SP
4    01035 -23.541578 -46.641607        sao paulo                SP

In [19]:
df['latitude'] = df['latitude'].astype(str).str.replace('#', '', regex=False) # removing # from col

In [20]:
df

,zip_code,latitude,longitude,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.639292,sao paulo,SP
1,01046,-23.54608112703553,-46.644820,sao paulo,SP
2,01046,-23.54612896641469,-46.642951,sao paulo,SP
3,01041,-23.5443921648681,-46.639499,sao paulo,SP
4,01035,-23.541577961711493,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000155,99965,-28.180655165648112,-52.034367,agua santa,RS
1000156,99950,-28.072187652217004,-52.011272,tapejara,RS
1000157,99950,-28.068863628939333,-52.012964,tapejara,RS
1000158,99950,-28.06863887662893,-52.010705,tapejara,RS
1000161,99980,-28.38893187660049,-51.846871,david canabarro,RS

In [21]:
df['longitude'] = df['longitude'].astype(str).str.replace('#', '', regex=False)

In [22]:
df.head()

,zip_code,latitude,longitude,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.63929204800168,sao paulo,SP
1,01046,-23.54608112703553,-46.64482029837157,sao paulo,SP
2,01046,-23.54612896641469,-46.64295148361138,sao paulo,SP
3,01041,-23.5443921648681,-46.63949930627844,sao paulo,SP
4,01035,-23.541577961711493,-46.64160722329613,sao paulo,SP

In [23]:
df['geolocation_city'] = df['geolocation_city'].str.title().str.strip()

In [24]:
df

,zip_code,latitude,longitude,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.63929204800168,Sao Paulo,SP
1,01046,-23.54608112703553,-46.64482029837157,Sao Paulo,SP
2,01046,-23.54612896641469,-46.64295148361138,Sao Paulo,SP
3,01041,-23.5443921648681,-46.63949930627844,Sao Paulo,SP
4,01035,-23.541577961711493,-46.64160722329613,Sao Paulo,SP
...,...,...,...,...,...
1000155,99965,-28.180655165648112,-52.034366727397455,Agua Santa,RS
1000156,99950,-28.072187652217004,-52.01127167058397,Tapejara,RS
1000157,99950,-28.068863628939333,-52.01296438020919,Tapejara,RS
1000158,99950,-28.06863887662893,-52.01070524698279,Tapejara,RS
1000161,99980,-28.38893187660049,-51.84687132274168,David Canabarro,RS

In [25]:
df.head()

,zip_code,latitude,longitude,geolocation_city,geolocation_state
0,01037,-23.54562128115268,-46.63929204800168,Sao Paulo,SP
1,01046,-23.54608112703553,-46.64482029837157,Sao Paulo,SP
2,01046,-23.54612896641469,-46.64295148361138,Sao Paulo,SP
3,01041,-23.5443921648681,-46.63949930627844,Sao Paulo,SP
4,01035,-23.541577961711493,-46.64160722329613,Sao Paulo,SP

In [26]:
df.to_csv(r"C:\DE\csv files data\Brazilian E-Commerce\Cleanedolist_geolocation_dataset.csv",index=False)

In [27]:
df2=pd.read_csv(r"C:\DE\csv files data\Brazilian E-Commerce\Cleanedolist_geolocation_dataset.csv")

In [28]:
df2

        zip_code   latitude  longitude geolocation_city geolocation_state
0           1037 -23.545621 -46.639292        Sao Paulo                SP
1           1046 -23.546081 -46.644820        Sao Paulo                SP
2           1046 -23.546129 -46.642951        Sao Paulo                SP
3           1041 -23.544392 -46.639499        Sao Paulo                SP
4           1035 -23.541578 -46.641607        Sao Paulo                SP
...          ...        ...        ...              ...               ...
738327     99965 -28.180655 -52.034367       Agua Santa                RS
738328     99950 -28.072188 -52.011272         Tapejara                RS
738329     99950 -28.068864 -52.012964         Tapejara                RS
738330     99950 -28.068639 -52.010705         Tapejara                RS
738331     99980 -28.388932 -51.846871  David Canabarro                RS

[738332 rows x 5 columns]