In [19]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_csv(r'C:\DE\csv files data\Brazilian E-Commerce\product_category_name_translation.csv', encoding='latin1')

In [21]:
df.head()

  ï»¿product_category_name product_category_name_english
0             beleza_saude                 health_beauty
1   informatica_acessorios         computers_accessories
2               automotivo                          auto
3          cama_mesa_banho                bed_bath_table
4         moveis_decoracao               furniture_decor

In [22]:
df.tail()

         ï»¿product_category_name product_category_name_english
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ï»¿product_category_name       71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [24]:
df.describe()

       ï»¿product_category_name product_category_name_english
count                        71                            71
unique                       71                            71
top                beleza_saude                 health_beauty
freq                          1                             1

In [25]:
df.columns

Index(['ï»¿product_category_name', 'product_category_name_english'], dtype='object')

In [26]:
df

         ï»¿product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

looks fine then saving.....

In [27]:
df.to_csv(r'C:\DE\csv files data\Brazilian E-Commerce\Cleaned_product_category_name_translation.csv', index=False)